body {

    padding-top:  70px;
    background-image: url(../../photo/ocean.jpg);
}

footer {

    margin: 50px 0;

}

.identif {

    padding: 10px;

}

.main {
    min-height: 80vh;
    color: aliceblue;   
    padding: 2%;
    border: 10px solid black;
    background-image: url(../../photo/shattered-island.gif);

}
table {
    width: 90%;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.15);
box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.15);
    border : 10px solid black;
}

table th {
    background-image: url(../../photo/shattered-island.gif);
    text-align: center;
    margin-right: 1%;
    text-decoration: underline;
    font-size: 1.7rem;
    padding : 0.5%;
}
table td {
    background: lightgrey;
    color: black;
    border: 1px solid black;
}
table td:hover{
    background: rgb(206, 127, 0);
}

form {
    border: 10px solid black;
    padding: 1%;
    background-image: url(../../photo/shattered-island.gif);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.13);
-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.13);
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.50);
    font-size: 1.5rem;
    color: #000;
}
.img-thumbnail {
    width : 100px;
    height: auto;   
    
}

footer {
    color : #fff;
}

.hauteur {
    min-height: 50vh;
}

.thumbnail {
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.50);
}

.suggimg:hover {
    zoom: 1.5; 
}   

.descri {
    background-color: dodgerblue;
    border : 10px solid white;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.50);
    background-image: url(../../photo/shattered-island.gif);
    
}
.h4ajout {
    color : #000;
}

.tdcomm {
    font-size : 2rem;   
    margin : 0;
    text-align: center;
    border: 1px solid black;      
}
.tablecomm {
    border: 10px solid black;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.50);
    margin-top: 5%; 
}

.tablecomm td {
    border : 1px solid black;
}